{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Création d'un article</h1>

    {{ form_start(formArticle) }}
    {{ form_widget(formArticle) }}
    {{ form_errors(formArticle) }}
   

    <button type="submit" class="btn btn-success">ENREGISTRER </button>
     {{ form_end(formArticle) }}
{% endblock %}
