{% extends 'base.html.twig'%}
{% block body %}
<h1> creation dun article </h1>



<form action="" method="post" >
<input type="text" name="title" placeholder="titre de l'article ">
<textarea name="content " placholder="conteny de l'article " > </textarea>
<input type="text" name="image" placeholder="image de l'article ">
<button type="submit"> ENregistrer </button>

</form>
{% endblock %}